@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --orange-color: #ff6600;
  --grey100: #f3f4f6;
  --grey300: #d1d5db;
  --grey600: #4b5563;
  --grey700: #374151;
  --grey800: #1f2937;
  --inter-font: "Inter";
}
body {
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.header__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--grey800);
}
.section__title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  color: var(--grey800);
}
/* 360 576 765 992 1200 1400 */
@media screen and (min-width: 350px) and (max-width: 575px) {
  .container {
    padding: 0 16px;
  }
  .header__title {
    font-size: 24px;
    line-height: 32px;
  }
  .section__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 576px) and (max-width: 764px) {
  .container {
    padding: 0 16px;
  }
  .header__title {
    font-size: 30px;
    line-height: 34px;
  }
  .section__title {
    font-size: 26px;
  }
}

@media screen and (min-width: 765px) and (max-width: 991px) {
  .container {
    padding: 0 16px;
  }
  .header__title {
    font-size: 34px;
    line-height: 36px;
  }
  .section__title {
    font-size: 28px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 0 16px;
  }
  .header__title {
    font-size: 36px;
    line-height: 38px;
  }
  .section__title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1279px) {
  .container {
    padding: 0 16px;
  }
}
