@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --orange-color: #ff6600;
  --grey100: #f3f4f6;
  --grey300: #d1d5db;
  --grey600: #4b5563;
  --grey700: #374151;
  --grey800: #1f2937;
  --inter-font: "Inter";
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.header__title{
font-size: 40px;
font-weight: 600;
line-height: 48px;
color: var(--grey800);
}
.section__title{
  text-align: center;
font-size: 36px;
font-weight: 600;
line-height: 40px;
color:var(--grey800);
}